body {
    display: grid;
    grid-template: auto auto auto/ auto auto auto;
}
  
header {
    background-color:dimgray;
    grid-column: 1 / 4;
    
}

h1 {
    background-color:dimgray;
    text-align: left;
    color: white;
    height: 3cm;
    padding: 1%;
}

.navigation {
	list-style: none;
	background-color: black;
    display: flex;
    align-items: center;
    text-align: center;
    height: 2cm;
    
}
.navigation a {
	color: #eee;
	text-decoration: none;
	text-align: center;    
    grid-column: 1 / 4;
    flex: 1 1 100%;
}
.navigation a:hover {
	font-weight: 700;
	text-decoration: underline;
	text-decoration-color: yellow;
}

main {
    display: grid;
    grid-template: auto auto auto/ auto auto auto;
    grid-column: 1 / 4;
}

.main-content {
    background: lightgray;
    grid-column: 1/3;
    grid-row: 3/4;
    height: 10cm;
    padding: 1%;
}
  
.aside-content {
    grid-column: 3/4;
    grid-row: 3/4;
    height: 10cm;
    padding: 1%;
    
}
  
footer {
    background: dimgray;
    padding: 2rem;
    text-align: center;
    color: white;
    grid-column: 1 / 4;
    height: 5cm;
}





